<!-- <mat-video #video
    id="video"
    title="My Tutorial Title" 
    [autoplay]="false" 
    [preload]="true" 
    [fullscreen]="true" 
    [download]="false" 
    color="primary" 
    spinner="spin" 
    poster="https://firebasestorage.googleapis.com/v0/b/recap-8420b.appspot.com/o/profiles%2Fe5VXGIUQOCOg3k9rBHWTLkP8hVu2%2Fbackground.jpg?alt=media&token=5f182200-c1c6-4037-a4a0-57319baca92a">
    <source matVideoSource src="https://firebasestorage.googleapis.com/v0/b/recap-8420b.appspot.com/o/profiles%2Fe5VXGIUQOCOg3k9rBHWTLkP8hVu2%2FPatMan%20Coursework%201%20-%20Item%20B%20-%20Lucas%20Lawes.mp4?alt=media&token=adc796ee-e847-45ed-b7f6-1f5c38e4e21e" type="video/mp4">
</mat-video> -->

<!-- <mat-video #video src="https://firebasestorage.googleapis.com/v0/b/recap-8420b.appspot.com/o/profiles%2Fe5VXGIUQOCOg3k9rBHWTLkP8hVu2%2FPatMan%20Coursework%201%20-%20Item%20B%20-%20Lucas%20Lawes.mp4?alt=media&token=adc796ee-e847-45ed-b7f6-1f5c38e4e21e"></mat-video> -->

<video 
    #video
    width="100%" 
    height="100%" 
    controls 
    controlslist="nodownload" 
    disablePictureInPicture
    preload="metadata"
    poster="https://firebasestorage.googleapis.com/v0/b/recap-8420b.appspot.com/o/profiles%2Fe5VXGIUQOCOg3k9rBHWTLkP8hVu2%2Fbackground.jpg?alt=media&token=5f182200-c1c6-4037-a4a0-57319baca92a">
    <source src="https://firebasestorage.googleapis.com/v0/b/recap-8420b.appspot.com/o/profiles%2Fe5VXGIUQOCOg3k9rBHWTLkP8hVu2%2FPatMan%20Coursework%201%20-%20Item%20B%20-%20Lucas%20Lawes.mp4?alt=media&token=adc796ee-e847-45ed-b7f6-1f5c38e4e21e" type="video/mp4">
  Your browser does not support the video tag.
  </video>