        <h3>
            Recap Record
        </h3>
    
    <button class="mat-raised-button mat-primary" (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="captureScreen()">Capture</button>
    <button mat-raised-button color="primary" (click)="startRecording()">Start Recording</button>
    <button mat-raised-button color="primary" (click)="pauseRecording()">Pause Recording</button>
    <button mat-raised-button color="primary" (click)="stopRecording()">Stop Recording</button>
    
    <hr>
    
    <video #videoRecorder controls autoplay playsinline 
        [srcObject]="videoStream"
        width="400px" height="400px">
    </video>

    <video #videoPlayer controls autoplay playsinline 
        [src]="videoURL || '://0'"
        width="400px" height="400px">
    </video>    
